[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npx serve -s dist -l 5173"

[variables]
VITE_API_URL = { default = "http://localhost:3000" }
VITE_PUBLIC_URL = { default = "http://localhost:5173" }

